<div class="orders-container p-4">
    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="fw-bold mb-0">Gestión de pedidos</h2>
            <p class="text-muted mb-0">Registro, seguimiento, edición y cancelación.</p>
        </div>

        <button class="btn btn-primary" (click)="openCreateModal()">
            <i class="mdi mdi-plus-circle me-1"></i>Nuevo Pedido
        </button>
    </div>

    <!-- FILTERS -->
    <div class="row mb-4 g-2">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Buscar por estado..." (input)="onSearch($event)">
        </div>

        <div class="col-md-3">
            <select class="form-select" [(ngModel)]="statusFilter" (change)="applyFilters()">
                <option value="0">Todos</option>
                <option value="1">Activos</option>
                <option value="2">Inactivos</option>
            </select>
        </div>
    </div>

    <!-- TABLE -->
    <div class="card shadow-sm border-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="bg-light">
                    <tr>
                        <th class="ps-4">Código</th>
                        <th>Cliente</th>
                        <th>Cotización</th>
                        <th>Entrega</th>
                        <th>Estado</th>
                        <th class="text-end pe-4">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let o of filteredOrders | paginate: { itemsPerPage: 10, currentPage: page }">
                        <td class="ps-4 fw-semibold">{{ o.orderId }}</td>
                        <td class="cursor-pointer" (click)="openCustomerModal(o.customer)">
                            {{ o.customer?.fullName }}
                        </td>

                        <td class="cursor-pointer" (click)="openQuoteModal(o.quote)">
                            #{{ o.quote?.quoteNumber }}
                        </td>
                        <td>{{ o.deliveryDate | date:'yyyy-MM-dd' }}</td>
                        <td>
                            <span class="cursor-pointer badge status-badge" [ngClass]="getStatusColor(o.status)" (click)="openStatusHistory(o.orderId ?? 0)">{{ o.status }}</span>
                        </td>
                        <td class="text-end pe-4">

                            <!-- EDIT -->
                            <button class="btn btn-sm btn-light me-1" (click)="openEditModal(o)">
                                <i class="mdi mdi-pencil"></i>
                            </button>

                            <!-- ACTIVATE / DEACTIVATE -->
                            <button class="btn btn-sm btn-light" (click)="openDeleteModal(o)">
                                <i class="mdi" [ngClass]="o.isActive ? 'mdi-eye-off' : 'mdi-eye-outline'"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination-controls (pageChange)="page = $event" previousLabel="‹" nextLabel="›"
                class="d-flex justify-content-end mt-3">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Form MODAL -->
@if (showModal) {
<app-order-form-modal [isEdit]="isEditing" [order]="selectedOrder" (closed)="closeModal()" (saved)="reloadOrders()">
</app-order-form-modal>
}

<!-- DELETE MODAL -->
@if (showDeleteModal) {
<div class="modal d-block" tabindex="-1" style="background: rgba(0,0,0,0.5)">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content text-center p-3">
            <div class="modal-body">
                <div class="mb-3 text-danger display-4">
                    <i class="mdi mdi-alert-circle-outline"></i>
                </div>
                <h5 class="fw-bold">¿Modificar estado?</h5>
                <p class="text-muted small">
                    ¿Deseas cambiar el estado activo/inactivo del pedido?
                </p>

                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button class="btn btn-light" (click)="showDeleteModal = false">
                        Cancelar
                    </button>
                    <button class="btn btn-danger" (click)="confirmDelete()">
                        Modificar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
}

@if(showCustomerModal){
<app-customer-modal [customer]="selectedCustomer" (closed)="showCustomerModal=false">
</app-customer-modal>
}

@if(showQuoteModal){
<app-quote-modal [quote]="selectedQuote" (closed)="showQuoteModal=false">
</app-quote-modal>
}

<app-order-status-history-modal
    #statusHistoryModal>
</app-order-status-history-modal>