@use "bootstrap/scss/bootstrap" as *;

body {
    font-family: 'Poppins', sans-serif;
}


.ngx-pagination .current{
    background-color: #0b6ffd !important;
    cursor: pointer !important;
    border-radius: 4px;
}