<div class="card shadow-sm border-0">
    <div class="table-responsive">

        <table class="table table-hover align-middle mb-0 responsive-table">

            <thead class="bg-light text-center">
                <tr>
                    <th class="ps-4">Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Clasificación</th>
                    <th>Score</th>
                    <th>Estado</th>
                    <th *ngIf="showActions" class="text-end pe-4">Acciones</th>
                </tr>
            </thead>

            <tbody class="text-center">

                <tr *ngFor="let c of customers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">

                    <td data-label="Nombre" class="ps-4 fw-semibold">
                        {{ c.fullName }}
                    </td>

                    <td data-label="Email">{{ c.email }}</td>

                    <td data-label="Teléfono">{{ c.phone }}</td>

                    <td data-label="Clasificación">
                        <span class="badge rounded-pill px-3 py-2 fw-semibold"
                            [ngClass]="getClassificationClass(c.classification)">
                            {{ c.classification }}
                        </span>
                    </td>

                    <td data-label="Score">{{ c.activityScore }}</td>

                    <td data-label="Estado">
                        <span class="badge rounded-pill" [class.bg-success-subtle]="c.isActive"
                            [class.text-success]="c.isActive" [class.bg-secondary-subtle]="!c.isActive"
                            [class.text-secondary]="!c.isActive">
                            {{ c.isActive ? 'Activo' : 'Inactivo' }}
                        </span>
                    </td>

                    <td data-label="" class="text-end pe-4" *ngIf="showActions">

                        <button class="btn btn-sm btn-light text-primary me-2" (click)="edit.emit(c)">
                            <i class="mdi mdi-pencil"></i>
                        </button>

                        <button class="btn btn-sm btn-light" (click)="toggleStatus.emit(c)">
                            @if (c.isActive) {
                            <i class="mdi mdi-eye-off"></i>
                            } @else {
                            <i class="mdi mdi-eye-outline"></i>
                            }
                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

        <pagination-controls (pageChange)="pageChange.emit($event)" previousLabel="‹" nextLabel="›"
            class="d-flex justify-content-end mt-3">
        </pagination-controls>

    </div>
</div>