/* -----------------------------------------
    Angular 21 SCSS Structure
------------------------------------------ */

// 1. Variables globales
@use '../../assets/scss/variable' as *;

// 3. Icon fonts
@use '../../assets/scss/icons/material-design-iconic-font/css/materialdesignicons.min.css';
