<div class="modal fade show d-block modal-backdrop-custom" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fw-bold">{{ title }}</h5>
                <button class="btn-close" (click)="close.emit()"></button>
            </div>

            <div class="modal-body">

                @if (errorMsg) {
                <div class="alert alert-danger">{{ errorMsg }}</div>
                }

                <label class="form-label fw-semibold">Nombre *</label>
                <input class="form-control mb-3" [(ngModel)]="form.name">

                <label class="form-label fw-semibold">Descripción</label>
                <textarea class="form-control mb-3" [(ngModel)]="form.description" rows="2"></textarea>

                <label class="form-label fw-semibold">Producto *</label>
                <select class="form-select mb-3" [(ngModel)]="form.productId">
                    <option [value]="0">Seleccione</option>
                    @for (p of products; track p.productId) {
                    <option [value]="p.productId">{{ p.name }}</option>
                    }
                </select>

                <label class="form-label fw-semibold">Descuento (%) *</label>
                <input type="number" class="form-control mb-3" [(ngModel)]="form.discountPercent" min="1" max="100">

                <label class="form-label fw-semibold">Fecha inicio *</label>
                <input type="date" class="form-control mb-3" [(ngModel)]="form.startDate">

                <label class="form-label fw-semibold">Fecha fin *</label>
                <input type="date" class="form-control mb-3" [(ngModel)]="form.endDate">

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="close.emit()">Cancelar</button>
                <button class="btn btn-primary" (click)="save()">
                    {{ promotion ? 'Guardar cambios' : 'Crear promoción' }}
                </button>
            </div>

        </div>
    </div>
</div>