.navbar {
    height: 60px;
}

.cart-icon {
    cursor: pointer;
}

.cart-badge {
    font-size: 11px;
    top: -4px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
}


@media (max-width: 576px) {

    .cart-icon i {
        font-size: 18px !important;
    }

    .cart-badge {
        font-size: 10px;
        padding: 3px 5px;
        top: -5px;
        right: -5px;
    }

    .btn {
        font-size: 0.75rem !important;
        padding: 2px 4px !important;
    }

    .gap-3 {
        gap: 0.5rem !important;
    }
}