<!-- Usado para el marketplace -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm px-3">
    <a class="navbar-brand fw-bold ms-2" href="#">ArteTextil</a>

    <div class="ms-auto d-flex align-items-center gap-3">

        <!-- ICONO DE CARRITO -->
        <a class="cart-icon position-relative text-white me-2" (click)="onOpenCart()">

            <i class="mdi mdi-cart" style="font-size: 26px;"></i>

            <!-- BADGE DEL CARRITO -->
            <span class="badge bg-danger position-absolute cart-badge">
                {{ cartCount }}
            </span>

        </a>

        <ng-container *ngIf="isAuthenticated; else guestButtons">
            <button class="btn btn-outline-light btn-sm" (click)="onLogout()">Cerrar sesión</button>
        </ng-container>

        <ng-template #guestButtons>
            <button class="btn btn-outline-light btn-sm" (click)="onNavigateToLogin()">Iniciar sesión</button>
            <button class="btn btn-light btn-sm" (click)="onNavigateToRegister()">Registrarse</button>
        </ng-template>
    </div>
</nav>
