.catalog-wrapper {
    padding: 10px 20px;
}

.product-card {
    cursor: pointer;
    transition: transform 0.15s ease;

    height: 375px;
    width: 100%;

    &:hover {
        transform: translateY(-4px);
    }
}

.product-img {
    height: 180px;
    object-fit: contain;
    border-bottom: 1px solid #eee;
}

.filter-box {
    border-radius: 10px;
}