.catalog-wrapper {
    padding: 10px 20px;
}

.product-card {
    cursor: pointer;
    transition: transform 0.15s ease;

    &:hover {
        transform: translateY(-4px);
    }
}

@media (min-width: 600px) {
    .card-body {
        width: 350px !important;
        height: 160px !important;
    }
}

.product-img {
    height: 180px;
    object-fit: contain;
    border-bottom: 1px solid #eee;
}

.filter-box {
    border-radius: 10px;
}